.idea/
*__pycache*
# Visual Studio Code #
.vscode/*
.history
.mypy_cache/*
# Django #
*.log
*.pot
*.pyc
__pycache__
media

# Python #
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
ll_env/
venv/
ENV/
env.bak/
venv.bak/
